.App {

}

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.startButton {
    cursor: pointer;
    font-size: 50px;
    border: 2px solid black;
    padding: 20px 40px;

}

.startButton:hover {
    background-color: #92e4e8;
}

.startButton:active {
    background-color: #2a4344;
}

.timer {
    font-size: 500px;
}